.maps-section {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Content and image on either side */
    height: 400px; /* Adjust the section height as needed */
    background-color: white; /* Set the background to white */
    padding: 50px;
  }
  
  .content {
    max-width: 50%; /* Adjust the width of the content */
    color: black;
    margin-left: 90px;
  }
  
  .content h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .content h3 {
    font-size: 1.8rem;
    margin-bottom: 20px;
  }
  
  .content p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  .content button {
    padding: 10px 20px;
    background-color: #9fdeaf; /* Adjust the button color */
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
  }
  
  .content button:hover {
    background-color: #96dbe2; /* Hover effect */
  }
  
  .image img {
    max-width: 65%; /* Adjust the image size */
    height: auto;
    object-fit: cover; /* Ensure image covers space without distortion */
    margin-left: 80px;
  }
  